<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-h5Bridge" version="1.0.2" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>H5bridge</name>
    <js-module name="H5bridge" src="www/H5bridge.js">
        <clobbers target="H5bridge" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="H5bridge">
                <param name="ios-package" value="H5bridge" />
            </feature>
        </config-file>
        <source-file src="src/ios/H5bridge.m" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="H5bridge">
                <param name="android-package" value="org.apache.cordova.h5Bridge.H5bridge" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/H5bridge.java" target-dir="src/org/apache/cordova/h5Bridge" />
    </platform>
</plugin>